@use '/src/sass/base/variables' as *;
.hero {
  max-height: 100vh;
  &__info {
    max-width: 531px;
  }
  &__wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    margin-top: 10px;
    font-size: 20px;
  }
  &__btn {
    margin-top: 55px;
  }
  &__companies {
    margin-top: 70px;
    justify-content: space-between;
    display: flex;
  }
  &__company {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    &-wrapper {
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
    }
    &:hover {
      filter: grayscale(0%);
    }
  }
}
